<%= erb :"common/header" %>
  <title>Additional Information</title>
</header>

<%= erb :"common/nav" %>
    
<div class="containerSmall">
  <div class="contentSmall">
    <h1 class="text-center  pb-3">Welcome!</h1>
    <p class="text-center  pb-3">Provide additional information</p>
    <form method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Your Name</label>
        <input id="username" type="text" class="form-control" name="name" pattern="^[a-zA-Z ]*$" required>
        <div class="invalid-feedback">
          Name is required and should only contain letters.
        </div>
      </div>
      <div class="mb-3">
          <label for="department" class="form-label">Department <%= '(optional)' if @user_type == @mentee_type %></label>
          <select id="department" class="custom-select" name="department" <%= 'required' unless @user_type == @mentee_type %>>
            <option data-placeholder="true"></option>
            <% @departments.each do |dep| %>
            <option value=<%= dep.id %>><%= dep.department %></option>
            <% end %>
          </select>
        <div class="invalid-feedback">
          Please select your department
        </div>
      </div>
      <div class="mb-3">
          <label for="areas" class="form-label">Areas of Interest <%= '(optional)' if @user_type == @mentee_type %></label>
          <select id="areas" name="areas[]" class="custom-select" multiple <%= 'required' unless @user_type == @mentee_type %>>
            <% @interests.each do |interest| %>
              <option value=<%= interest.id %>><%= interest.interest %></option>
            <% end %>
          </select>
        <div class="invalid-feedback">
          Please select at least one interest area
        </div>
      </div>
      <div class="mb-3">
          <label for="bio" class="form-label">Bio <%= '(optional)' if @user_type == @mentee_type %></label>
          <textarea id="bio" name="bio" class="form-control" rows="4" <%= 'required' unless @user_type == @mentee_type %>></textarea>
        <div class="invalid-feedback">
          Field cannot be empty
        </div>
      </div>
      <button type="submit" class="btn btn-primary btnC">Create an account</button>
    </form>
  </div>
</div>
<script src="/js/frontendValidation.js"></script>

<%= erb :"common/footer" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"></link>
<script src="js/select.js"></script>
</html>
