<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <title>Additional Information</title>
</head>

<body>
<%= erb :"common/nav" %>
<div class="containerSmall">
  <div class="contentSmall">
    <h1 class="text-center  pb-3">Welcome!</h1>
    <p class="text-center  pb-3">Provide additional information</p>
    <form method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Your Name</label>
        <input id="username" type="text" class="form-control" name="name" required>
      </div>
      <div class="mb-3">
          <label for="department" class="form-label">Department <%= '(optional)' unless @user_type == UserType::MENTEE %></label>
          <select id="department" class="custom-select" name="department" <%= 'required' if @user_type == UserType::MENTEE %>>
            <option data-placeholder="true"></option>
            <% @departments.each do |dep| %>
            <option value=<%= dep.department %>><%= dep.department %></option>
            <% end %>
          </select>
      </div>
      <div class="mb-3">
          <label for="areas" class="form-label">Areas of Interest <%= '(optional)' unless @user_type == UserType::MENTEE %></label>
          <select id="areas" name="areas[]" class="custom-select" multiple <%= 'required' if @user_type == UserType::MENTEE %>>
            <% @interests.each do |interest| %>
              <option value=<%= interest.interest %>><%= interest.interest %></option>
            <% end %>
          </select>
      </div>
      <div class="mb-3">
        <% if @user_type == UserType::MENTEE %>
          <label for="bio" class="form-label">Bio</label>
          <textarea id="bio" name="bio" required class="form-control" rows="4"></textarea>
        <% else %>
          <label for="bio" class="form-label">Bio (optional)</label>
          <textarea id="bio" name="bio" class="form-control" rows="4"></textarea>
        <% end %>
      </div>
      <button type="submit" class="btn btn-primary btnC">Create an account</button>
    </form>
  </div>
</div>
<%= erb :"common/footer" %>
</body>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"></link>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="js/select.js"></script>
</html>
