<% if @user[:id][:user_type] == 0 %>
  <% title = "Mentor" %>
<% else %>
  <% title = "Mentee" %>
<% end %>

<%= erb :"common/header" %>
  <link rel="stylesheet" href="css/userInfo.css">
  <link rel="stylesheet" href="css/mentorListDetail.css">
  <title>My <%= title %></title>
</header>

<%= erb :"common/nav" %>
    
<div class="container">
  <div class="content">
    <div class="row">
      <div class="row">
        <h3>My <%= title %></h3>
       </div>
      <div class="col-sm"> 
        <img src="img/defaultPic.jpg" class="img-thumbnail float-start picProfile" alt="User Picture"> </div>
      <div class="col-9"> 
        <!-----username and email---->
        <div class="row">
          <div class="mb-3 row">
            <div class="col-sm-10">
              <% userName = @user[:id][:email] %>
              <% if !@user[:id][:name].empty? %>
                <% userName = @user[:id][:name]%>
                <label class="col-sm-2 col-form-label title name" id="staticName"><%= userName %></label>
                <label class="form-control-plaintext name email" id="staticEmail"><%= @user[:id][:email] %></label>
              <% else %>
                <label class="col-sm-2 col-form-label title name" id="staticName"><%= userName %></label>
              <% end %>
            </div>
          </div>
        </div>
        
        <!-----Department---->
        <div class="row">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label title">Department</label>
            <div class="col-sm-10">
              <label class="form-control-plaintext" id="staticDepartment"><%= @user[:id][:department] %></label>
            </div>
          </div>
        </div>
        
        <!-----Area of Interest---->
        <div class="row">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label title">Area of Interest</label>
            <div class="col-sm-10">
              <label class="form-control-plaintext" id="staticArea"><%= @user[:id][:interest_areas] %></label>
            </div>
          </div>
        </div>
        <!-----Bio---->
        <div class="row">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label title">Bio</label>
            <div class="col-sm-10">
              <label class="form-control-plaintext bioText" id="staticBio"><%= @user[:id][:bio] %></label>
            </div>
          </div>
        </div>
        <!---------------------------------------------> 
      </div>
    </div>
  </div>
</div>
<%= erb :"common/footer" %>
</html>